.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show {
  opacity: 1;
}

/* .loading-state,
.table-component,
.error-state,
.coin-component {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */

.positive-arrow::before {
  content: url('./up-arrow.svg');
  height: 10px;
  width: 10px;
  margin-right: 2px;
}

.negative-arrow::before {
  content: url('./down-arrow.svg');
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

hr {
  border-top: 1px solid grey;
  opacity: 0.5;
}

.text-rose-500 {
  color: rgb(244 63 94 / var(--tw-text-opacity)) !important;
}

.text-emerald-500 {
  color: rgb(16 185 129 / var(--tw-text-opacity)) !important;
}
